.navbar{
    background-color: #A055FF;
    // width: 100%;
    height: fit-content;
    display:flex;
    justify-content:space-between;
    padding:  1rem;
    & .navbar-logo{
        padding: 1rem;
    }
    & .login-btn-div{
        width: 15rem;
    }
}
.heading{
    padding: 50px;
    align-items: center
}

.signin{
    display: flex;
    align-items: center;
    padding: 50px;
}
.input-text-box{
    padding: 50px;
}
